<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

<form action='/login' method = 'post'>
Name : <input type ='text' name='name'> <br>
Password : <input type ='password' name='password'> <br>
<input type='submit' value='Enter'>
</form>


</div>

