<p> Your results are as follows </p>

<p> You got <%= @this_round.no_of_correct %> questions correct </p>

<p> You got <%= @this_round.no_of_incorrect %> questions wrong </p>

<h2><a href = "/lifetime_results/<%= @user.id %>">Click here to see your past performance</a><h2>

